*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: peachpuff;
  font-family: "Courgette", cursive;
}


.text-orange{
  color: #f15025;
}

.letter-spacing{
  letter-spacing: 0.5rem;
}
