/*Removing Bullets*/
.no-bullet{
    list-style-type: none;
    padding: 0;
}
/*For images in the header*/
.recipe-image {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 0.5rem; 
  }
  
  .recipe-button {
    background-color: rgba(83, 89, 125, 0.7); /* Semi-transparent button color */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  div > ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center; 
  }
  
 